@require './s/300/result.styl'
@require './s/500/result.styl'
@require './h/result.styl'
@require './c.styl'
// @require './s/700/result.css'
// @require './s/200/result.css'
// @require './s/400/result.css'
// @require './s/800/result.css'
